::-moz-selection {
    background: #000000;
    color: #ffffff;
    text-shadow: none;
}

::selection {
    background: #000000;
    color: #ffffff;
    text-shadow: none;
}

.weight-700{
  font-weight: 700;
}

.weight-100{
  font-weight: 100;
}

.weight-500{
  font-weight: 500;
}

.weight-600{
  font-weight: 600;
}

.project-name{
  font-weight: 100;
}

/*.main-content {
    margin-top: -84px;
}*/

.hide{ display: none;  }


.page-header{ 
  background-image: url("../img/luisfredgs-header-python-4.jpg") !important;  
  background-position: bottom center;
  background-color: #333333;
}

body{
  background-color: #ffffff;
  color: #333;
}

#home{
  font-size: 22px;
}

a{
    color: #333;
}

.read-more{
  display: block;
  clear: both;
}

/*.btn-read{
    background-color: #000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;    
}

.btn-read:hover{
  text-decoration: none;
  background-color: #111;
}*/

.btn-read{
  font-size: 0.9em;
  display: inline-block;
  color: rgba(0,0,0,0.35);
  border: 1px solid rgba(0,0,0,0.11);
  padding: 0.6111111111em 1.5em;
  border-radius: 2em;
}

.btn-read::hover {
  color: rgba(0,0,0,0.5);
  border-color: rgba(0,0,0,0.25);
  text-decoration: none;
}

.read-time, .meta{
  color: #333 !important;
  font-family: 'Oswald', sans-serif !important;    
  font-size: 90% !important;
}


.avatar {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 350px;
    height: 196px;
    text-align: center;
    margin: 0 auto;
    background-position: center center;
}

.category-head{
  text-transform: uppercase;
}

ul.posts{
    list-style: none;
    padding: 0;
}

ul.posts li{
    padding-bottom: 32px;
    margin-top: 32px;
    border-bottom: #ccc 1px dashed;
}

ul.posts li span.read-more{
    text-align: center;
    margin: 0 auto;
}


ul.posts li span.post-meta{
  color: #333 !important;
  font-family: 'Oswald', sans-serif !important;    
  font-size: 17px;
}

ul.posts li h2{
    font-family: 'Oswald', sans-serif;    
    margin-top: 0.5rem !important;
}

ul.posts p{    
    /* font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: 'Segoe UI', Helvetica, Arial;
    color: #6f6f6f;    
}


img + em {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.main-content p em{
  /*font-size: 18px;*/
  color: #666666;
  text-align: justify;
  /*font-size: 70%;*/
}


.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    font-family: 'Oswald', sans-serif;    
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #333;
}

.main-content p,
.main-content ul li
{
    /* color: #666666; */
    color: #1a1e24;
    font-size: 19px;
    /* font-family: 'Raleway', sans-serif;*/
    font-family: 'Segoe UI', Helvetica, Arial;
    line-height: 1.72;
    letter-spacing: -.003em;
    text-align: justify;
}

.main-content p a,
.main-content ul li a{
    /*text-decoration: underline;*/
    text-decoration: none;
    border-bottom: 2px solid #fc0;
}

h2.home-post-title a{
  border-bottom: none !important;
}

.main-content blockquote{
  color: #242424 !important;
}

.main-content p a:hover{
  text-decoration: none;
}

.main-content p strong{
    color: #333;
}

.main-content div.archive-group a:hover{
  text-decoration: none;
  border-bottom: 2px solid #fc0; 
}

blockquote {
  background: #f9f9f9;
  font-weight: 200;
  font-style: italic;
  border-left: 5px solid #333 !important;
  margin: 1.5em 10px;
  padding: 0.5em 10px !important;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #000;
  /*content: open-quote;*/
  content: "\275D";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.main-content p.block{
  margin-top: 45px !important;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
blockquote:after {
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
*/

blockquote p {
  display: inline;
}

/* Share buttons */
/* https://simpleicons.org */
.sharetitle{
  text-align: center !important;
}

.sharebuttons {
    margin: 0 auto 0 auto;
    text-align: center;
  }
  
  .sharebuttons ul {
    margin: 20px 0 0 0;
    padding: 0;
    text-align: center;
  }
  
  .sharebuttons ul li {
    display: inline;
  }
  
  .sharebuttons ul li a {
    text-decoration: none;
  }
  
  .sharebuttons ul li svg {
    width: 40px;
    height: 40px;
  }
  
  .sharebuttons .reddit svg {
    fill: #FF4500;
  }
  
  .sharebuttons .hn svg {
    fill: #F0652F;
  }
  
  .sharebuttons .twitter svg {
    fill: #1DA1F2;
  }
  
  .sharebuttons .linkedin svg {
    fill: #0077B5;
  }

  /* Pagination */

.pagination{ text-align: center; display: none; }



/* Social buttons */

.socialtitle{
  text-align: center !important;
}

.socialbuttons {
  margin: 0 auto 0 auto;
  text-align: center;
}

.socialbuttons ul {
  margin: 20px 0 0 0;
  padding: 0;
  text-align: center;
}

.socialbuttons ul li {
  display: inline;
}

.socialbuttons ul li a {
  text-decoration: none;
  border-bottom: none;
}

.socialbuttons ul li svg {
  width: 40px;
  height: 40px;
}

.socialbuttons .reddit svg {
  fill: #FF4500;
}

.socialbuttons .hn svg {
  fill: #181717;
}

.socialbuttons .twitter svg {
  fill: #181717;
}

.socialbuttons .linkedin svg {
  fill: #181717;
}

.socialbuttons .youtube svg {
  fill: #181717;
}

.socialbuttons .github svg {
  fill: #181717;
}

.socialbuttons .instagram svg {
  fill: #181717;
}


/* contact form */

.contact_form{
  text-align: center;
  margin: 0 auto;
}

.site-footer{ border-top: none;  }

.site-footer{color: #000;}

.site-footer a{
  color: #000;
}

.site-footer-owner{
  text-align: center;
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
  padding-bottom: 12px;
}

/* Notes */

.note {
    background-color: #191919;
    border-left: 7px solid #ffa100;
}

.note {
    padding: 20px !important;
    border-radius: 0 4px 4px 0 !important;
    color: #fff !important;
    /* font-size: 15.5px; */
    letter-spacing: .2px !important;
}

.note em, 
.note a, 
.note strong{
  color: #fff !important;
  letter-spacing: .2px !important;
}

.note:before {
    content: "Nota:";
    font-weight: 700;
    display: block;
}

.intro{
  margin-top: 25px;
}

/*.intro:before {
    content: "\275D";
    font-size: 95px;
    float: left;
    line-height: 15px;
    padding-right: 4px;
    padding-top: 18px;
    color: #000;
}*/

.image {
  text-align: center !important;
  text-align: justify !important;
  font-size: 80% !important;
}

.image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 50%;*/
}

.image em{
  text-align: justify !important;
  font-style: normal;
}

.center {
  text-align: center !important;
}

.thumbnail{
  display: block;
  float: left;
}


.tippy-backdrop {
  background-color: #fff;
  border-color: #444;
  border-radius: 50%;
  text-align: 'justify';

  padding: 15px;
}

.tippy-tooltip {
  position: relative;
  color: #000;    
  text-align: justify;
  background-color: #fff !important;
  -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
             box-shadow: 0 10px 6px -6px #777;
}

.tippy-content:before{
  content: 'Translated text: ';
  font-weight: bold;
}

.btn {
    font-weight: 700;
    color: #000000;
    /*background-color: #ffffff;*/
    background-color: #ffeb3b;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;    
}


.contact-btn{
    background-color: #000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;    
}

.contact-btn:hover{
  text-decoration: none;
  background-color: #111;
}