---
layout: single
permalink: /categories/
title: Category
---


<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>
    
    <h1 class="category-head">{{ category_name| replace: '-', ' ' }}</h1>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
      {% if post.status == 1 %}
        <article class="archive-item">
          <h3> - <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
        </article>
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}
</div>